<!DOCTYPE html SYSTEM
  "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="ja">
<head>
  <meta charset="UTF-8"/>
  <style>
    body {
      color: gray;
    }

    tr {
      margin: 5px;
    }

    th {
      color: white;
      background: orange;
    }

    td {
      color: black;
      background: lightgray;
    }
  </style>

  <title>ユーザ編集</title>
  <link rel="stylesheet"
        href="/static/resources/lib/Semantic-UI/2.1.8/semantic.min.css"/>
  <script src="/static/resources/lib/jquery.min.js"></script>
  <script
    src="/static/resources/lib/Semantic-UI/2.1.8/semantic.min.js"></script>
</head>
<body>
<form method="post" th:action="@{/users/edit/{id}(id=${user.id})}" th:object="${form}">
  <table class="ui celled table">
    <tr>
      <th>名前</th>
      <td>
        <div th:classappend="${#fields.hasErrors('name')}? has-error">
          <input type="text" th:field="*{name}" placeholder="名前"/>
          <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>
      </td>
    </tr>
    <tr>
      <th>メール</th>
      <td>
        <div th:classappend="${#fields.hasErrors('email')}? has-error">
          <input type="text" th:field="*{email}" placeholder="メール"/>
          <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>
      </td>
    </tr>
    <tr>
      <th>年齢</th>
      <td>
        <div th:classappend="${#fields.hasErrors('age')}? has-error">
          <input type="text" th:field="*{age}" placeholder="年齢"/>
          <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
        </div>
      </td>
    </tr>
    <tr>
      <th>性別</th>
      <td>
        <div th:classappend="${#fields.hasErrors('gender')}? has-error">
          <select th:field="*{gender}">
            <option value="">性別を選択してください</option>
            <option th:each="gender : ${genders}" th:text="#{|user.field.gender.${gender}|}" th:value="${gender}"></option>
          </select>
          <p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></p>
        </div>
      </td>
    </tr>
  </table>
  <button type="submit">更新</button>
</form>
</body>
</html>